@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Modak&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.b4g {
  line-height: 1.5;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  
  color: #eaeae9;
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue:#42A9D7;
  --pink:#D594DC;
  --peach:#F5DCC6;
  --gray:rgba(255, 255, 255, 0.50);
  --background:#0e121a;
  --container-background:rgb(255, 255, 255, 0.10);
}